@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan Variable", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}
